<a href="https://colab.research.google.com/github/santoshrsarangi/tensorflow/blob/main/timeseries/Power_Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib
import zipfile

import pandas as pd
import tensorflow as tf

In [2]:
def download_and_extract_data():
    url = 'https://storage.googleapis.com/download.tensorflow.org/data/certificate/household_power.zip'
    urllib.request.urlretrieve(url, 'household_power.zip')
    with zipfile.ZipFile('household_power.zip', 'r') as zip_ref:
        zip_ref.extractall()

In [3]:
download_and_extract_data()

In [4]:
df = pd.read_csv('household_power_consumption.csv', sep=',',
                     infer_datetime_format=True, index_col='datetime', header=0)

In [32]:
df.head(48)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
2006-12-16 17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
2006-12-16 17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
2006-12-16 17:32:00,3.668,0.510,233.99,15.8,0.0,1.0,17.0
2006-12-16 17:33:00,3.662,0.510,233.86,15.8,0.0,2.0,16.0
2006-12-16 17:34:00,4.448,0.498,232.86,19.6,0.0,1.0,17.0
2006-12-16 17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
2006-12-16 17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
2006-12-16 17:37:00,5.268,0.398,232.91,22.6,0.0,2.0,17.0
2006-12-16 17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
2006-12-16 17:39:00,3.384,0.282,237.14,14.2,0.0,0.0,17.0
2006-12-16 17:40:00,3.270,0.152,236.73,13.8,0.0,0.0,17.0
2006-12-16 17:41:00,3.430,0.156,237.06,14.4,0.0,0.0,17.0
2006-12-16 17:42:00,3.266,0.000,237.13,13.8,0.0,0.0,18.0
2006-12-16 17:43:00,3.728,0.000,235.84,16.4,0.0,0.0,17.0
2006-12-16 17:44:00,5.894,0.000,232.69,25.4,0.0,0.0,16.0
2006-12-16 17:45:00,7.706,0.000,230.98,33.2,0.0,0.0,17.0
2006-12-16 17:46:00,7.026,0.000,232.21,30.6,0.0,0.0,16.0
2006-12-16 17:47:00,5.174,0.000,234.19,22.0,0.0,0.0,17.0
2006-12-16 17:48:00,4.474,0.000,234.96,19.4,0.0,0.0,17.0
2006-12-16 17:49:00,3.248,0.000,236.66,13.6,0.0,0.0,17.0
2006-12-16 17:50:00,3.236,0.000,235.84,13.6,0.0,0.0,17.0
2006-12-16 17:51:00,3.228,0.000,235.60,13.6,0.0,0.0,17.0
2006-12-16 17:52:00,3.258,0.000,235.49,13.8,0.0,0.0,17.0
2006-12-16 17:53:00,3.178,0.000,235.28,13.4,0.0,0.0,17.0
2006-12-16 17:54:00,2.720,0.000,235.06,11.6,0.0,0.0,17.0
2006-12-16 17:55:00,3.758,0.076,234.17,16.4,0.0,0.0,17.0
2006-12-16 17:56:00,4.342,0.090,233.77,18.4,0.0,0.0,16.0
2006-12-16 17:57:00,4.512,0.000,233.62,19.2,0.0,0.0,17.0
2006-12-16 17:58:00,4.058,0.200,234.68,17.6,0.0,0.0,17.0
2006-12-16 17:59:00,2.472,0.058,236.94,10.4,0.0,0.0,17.0
2006-12-16 18:00:00,2.790,0.180,237.52,11.8,0.0,0.0,18.0
2006-12-16 18:01:00,2.624,0.144,238.20,11.0,0.0,0.0,17.0
2006-12-16 18:02:00,2.772,0.118,238.28,11.6,0.0,0.0,17.0
2006-12-16 18:03:00,3.740,0.108,236.93,16.4,0.0,16.0,18.0
2006-12-16 18:04:00,4.928,0.202,235.01,21.0,0.0,37.0,16.0
2006-12-16 18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
2006-12-16 18:06:00,6.752,0.186,232.12,29.0,0.0,36.0,17.0
2006-12-16 18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
2006-12-16 18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
2006-12-16 18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
2006-12-16 18:10:00,3.396,0.148,236.20,15.0,0.0,22.0,18.0
2006-12-16 18:11:00,3.090,0.152,237.07,13.8,0.0,12.0,17.0

In [6]:
def normalize_series(data, min, max):
    data = data - min
    data = data / max
    return data

In [7]:
def windowed_dataset(series, batch_size, n_past=24, n_future=24, shift=1):
    ds = tf.data.Dataset.from_tensor_slices(series)
    ds = ds.window(size=n_past + n_future, shift=shift, drop_remainder=True)
    ds = ds.flat_map(lambda w: w.batch(n_past + n_future))
    ds = ds.map(lambda w: (w[:n_past], w[n_past:]))
    return ds.batch(batch_size).prefetch(1)

In [8]:
N_FEATURES = len(df.columns)

In [9]:
data = df.values
data = normalize_series(data, data.min(axis=0), data.max(axis=0))

In [10]:
SPLIT_TIME = int(len(data) * 0.5)
x_train = data[:SPLIT_TIME]
x_valid = data[SPLIT_TIME:]

In [11]:
tf.keras.backend.clear_session()
tf.random.set_seed(42)

In [12]:
BATCH_SIZE = 32
N_PAST = 24

N_FUTURE = 24

SHIFT = 1

In [13]:
train_set = windowed_dataset(series=x_train, batch_size=BATCH_SIZE,
                              n_past=N_PAST, n_future=N_FUTURE,
                              shift=SHIFT)
valid_set = windowed_dataset(series=x_valid, batch_size=BATCH_SIZE,
                              n_past=N_PAST, n_future=N_FUTURE,
                              shift=SHIFT)

In [21]:
x = train_set.take(1)